header {
background-color: #d2f03e;
border-radius: 5px;
padding-bottom: 5px;
}

li a {
    display: inline;
}

img {
    display: inline;
   height: auto;
   max-width: 100%;
   border: 5px solid #4BE3B0;
   padding: 5px;
   margin: 0 300px;
}
.headerimg {
    max-width: 600px;
    max-height: 600px;
    display: block;
    justify-content: center;
}

.loop {
    max-width: 50%;
    max-height: 50%;
    display: inline-block;
    
}


sub {
    text-align: center;
}

h1 {
    color: #AFBDB8;
    text-align: center;
    text-decoration: underline;
}

#cuteness {
    text-align: center;
    margin: auto;
}

body {
background-color: #AFBDB8;
}


blockquote {
    color: #4BE3B0;
    background-color: #d2f03e;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px 10px;
}

li {
    color: #4BE3B0;
}

button {
    margin: 20px 450px;
    align-items: center;
    border-radius: 20px;
    background-color: #d2f03e;
    border-color: #4BE3B0
}

p {
    text-decoration: underline;
}